transformers
keybert
pandas
sqlalchemy
nltk
json
levenshtein
spacy
torch
protobuff
seaborn
mplcursors
scikit-learn
sentencepiece
wordcloud
langdetect
accelerate
matplotlib
tkinter
pyperclip
faiss-cpu
jq
ipython
jupyter
ipykernel
setuptools
wheel
pip --upgrade